<div class="card shadow">
  <div class="card-header p-3 bg-white d-flex justify-content-between">
    <div class="card-title">
      <h4>Category</h4>
    </div>
    <div class="card-toolbar">
      <app-toolbarcrud (toolbarButtonWasClicked)="toolbarButtonWasClicked($event)"></app-toolbarcrud>
    </div>
  </div>
  <div class="card-body mx-2">
    <form [formGroup]="categoryForm">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="categoryId">Category Id</label>
            <input class="form-control" formControlName="categoryId" placeholder="Category Id" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" formControlName="categoryName" placeholder="Category Name"
              #categoryName required />
          </div>
          <div class="form-group mt-2">
            <label for="description">Contact Name</label>
            <input class="form-control" formControlName="description" placeholder="Description" #description />
          </div>
        </div>
        <div class="col-6" id="col-photo-upload">
          <div class="form-group">
            <app-photo-upload></app-photo-upload>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button style="display: none" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalYesNo"
  id="showModalYesNo">Open modal
</button>
<app-modalyesno [modalTitle]="modalTitle" [modalBody]="modalYesNoBody"
  (modalButtonWasClicked)="modalButtonWasClicked($event)" id="modalyesno"></app-modalyesno>

<button style="display: none" type="button" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#modalMessage" id="showModalMessage">Open modal
</button>

<app-modalmessage [modalTitle]="modalTitle" [modalBody]="modalMessageBody"></app-modalmessage>

<button type="button" class="btn btn-primary" id="liveToastBtn" onclick="showToast()" style="display: none">Show
  live toast</button>
<app-toast [header]="headerToast" [body]="bodyToast"></app-toast>
