/* img {
  height: 100px;
  width: 200px;
} */

/* input.ng-invalid.ng-touched.ng-dirty,
input.ng-invalid.ng-touched,
#col-photo-upload.ng-invalid.ng-touched{
  border: solid red
}

input.ng-invalid.ng-touched {
  border: solid red
} */


.lblPicture.ng-touched {
  border: solid red
}
