<div class="card shadow">
  <div class="card-header p-3 bg-white d-flex justify-content-between">
    <div class="card-title">
      <h4>Customer</h4>
    </div>
    <div class="card-toolbar">
      <app-toolbarcrud></app-toolbarcrud>
    </div>
  </div>
  <div class="card-body mx-2">
    <form [formGroup]="customerForm">
      <div class="row" id="row-shipperId">
        <div class="col-3">
          <div class="form-group">
            <label for="exampleShipperId">Customer Id</label>
            <input
              type="email"
              class="form-control"
              id="exampleShipperId"
              formControlName="customerId"
              aria-describedby="emailHelp"
              placeholder="Shipper Id"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleCompanyName">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleCompanyName"
              formControlName="companyName"
              placeholder="Company Name"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Contact Name</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="contactName"
              placeholder="Contact Name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Contact Title</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="contactTitle"
              placeholder="Contact Title"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Address</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="address"
              placeholder="Address"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">City</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="city"
              placeholder="City"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Region</label>
            <!-- <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="regionId"
              placeholder="regionId"
            /> -->
            <select class="form-control" formControlName="regionId">
              <option *ngFor="let region of regions" [ngValue]="region">
                {{ region.regionDescription }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Postal Code</label>
            <input
              type="phone"
              class="form-control"
              formControlName="postalCode"
              placeholder="postalCode"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Country</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="country"
              placeholder="Country"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Phone</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="phone"
              placeholder="phone"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="examplePhone">Fax</label>
            <input
              type="phone"
              class="form-control"
              id="examplePhone"
              formControlName="fax"
              placeholder="Fax"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
