<div class="card shadow">
  <div class="card-header p-3 bg-white d-flex justify-content-between">
    <div class="card-title">
      <h4>Customer</h4>
    </div>
    <div class="card-toolbar">
      <app-toolbarcrud (toolbarButtonWasClicked)="toolbarButtonWasClicked($event)"></app-toolbarcrud>
    </div>
  </div>
  <div class="card-body mx-2">
    <form [formGroup]="customerForm">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="customerId">Customer Id</label>
            <input class="form-control" formControlName="customerId" placeholder="Customer Id" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name"
              #companyName required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input type="phone" class="form-control" formControlName="contactName" placeholder="Contact Name"
              #contactName required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="contactTitle">Contact Title</label>
            <input type="phone" class="form-control" formControlName="contactTitle" placeholder="Contact Title"
              #contactTitle required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="phone" class="form-control" formControlName="address" placeholder="Address" #address
              required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="city">City</label>
            <input type="phone" class="form-control" formControlName="city" placeholder="City" #city required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="regionId">Region</label>
            <select class="form-control" formControlName="regionId" #regionId required>
              <option *ngFor="let region of regions" [ngValue]="region.regionId">
                {{ region.regionDescription }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input type="phone" class="form-control" formControlName="postalCode" placeholder="postalCode" #postalCode
              required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="phone" class="form-control" formControlName="country" placeholder="Country" #country
              required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" formControlName="phone" placeholder="phone" #phone required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="fax">Fax</label>
            <input type="phone" class="form-control" formControlName="fax" placeholder="Fax" #fax />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button style="display: none" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalYesNo"
  id="showModalYesNo">
  Open modal
</button>
<app-modalyesno [modalTitle]="modalTitle" [modalBody]="modalYesNoBody"
  (modalButtonWasClicked)="modalButtonWasClicked($event)" id="modalyesno"></app-modalyesno>

<button style="display: none" type="button" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#modalMessage" id="showModalMessage">
  Open modal
</button>

<app-modalmessage [modalTitle]="modalTitle" [modalBody]="modalMessageBody"></app-modalmessage>

<button type="button" class="btn btn-primary" id="liveToastBtn" onclick="showToast()" style="display: none">
  Show live toast
</button>
<app-toast [header]="headerToast" [body]="bodyToast"></app-toast>
