<div class="container mt-3">
  <div class="page-title mb-2">
    <div class="w-75">
      <h4 class="area-title">products</h4>
    </div>
    <div class="w-25">
      <app-toolbarlist
        (toolbarButtonWasClicked)="buttonWasClicked($event)"
      ></app-toolbarlist>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-success">
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Supplier Id</th>
        <th scope="col">Category Id</th>
        <th scope="col">QuantityPer Unit</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Units In Stock</th>
        <th scope="col">Units On Order</th>
        <th scope="col">Reorder Level</th>
        <th scope="col">Discontinued</th>
        <th scope="col"><i class="fa-solid fa-gear"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.productId }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.supplierId }}</td>
        <td>{{ product.categoryId }}</td>
        <td>{{ product.quantityPerUnit }}</td>
        <td>{{ product.unitPrice }}</td>
        <td>{{ product.unitsInStock }}</td>
        <td>{{ product.unitsOnOrder }}</td>
        <td>{{ product.reorderLevel }}</td>
        <td>{{ product.discontinued }}</td>
        <td>
          <a routerLink="/products/product-edit/{{ product.productId }}">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      Total Records:
      {{
        products.length
      }}
    </tfoot>
  </table>
</div>
