/* You can add global styles to this file, and also import other style files */
.area-title {
  text-align: center;
  margin-bottom: 20px;
}
.row {
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched.ng-dirty,
input.ng-invalid.ng-touched,
#col-photo-upload.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: solid red
}

input.ng-invalid.ng-touched {
  border: solid red
}
