<div class="card-body mx-2 detail-container">
  <div class="row">
    <button type="button" class="btn" (click)="removeDetail()">
      <i class="bi bi-file-minus-fill fa-2x d-flex flex-row-reverse"></i>
    </button>
  </div>
  <form [formGroup]="orderDetailForm">
    <div class="row mb-5">
      <div class="col-3">
        <div class="form-group">
          <label for="categoryId">Product Id</label>
          <input class="form-control" formControlName="productId" placeholder="Product Id" />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="categoryId">Unit Price</label>
          <input class="form-control" formControlName="unitPrice" placeholder="Unit Price" />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="categoryId">Quantity</label>
          <input class="form-control" formControlName="quantity" placeholder="Quantity" />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="categoryId">Discount</label>
          <input class="form-control" formControlName="discount" placeholder="Discount" />
        </div>
      </div>
    </div>
  </form>
</div>