<div class="card shadow">
  <div class="card-header p-3 bg-white d-flex justify-content-between">
    <div class="card-title">
      <h4>Shippers</h4>
    </div>
    <div class="card-toolbar">
      <app-toolbarcrud
        (toolbarButtonWasClicked)="toolbarButtonWasClicked($event)"
      ></app-toolbarcrud>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="shipperForm">
      <div class="row">
        <div class="col-2" id="row-shipperId">
          <div class="form-group">
            <label for="exampleShipperId">Shipper Id</label>
            <input
              type="text"
              class="form-control"
              id="shipperId"
              formControlName="shipperId"
              placeholder="Shipper Id"
            />
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="companyName"
              formControlName="companyName"
              placeholder="Company Name"
              #companyName
              required
            />
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="phone"
              class="form-control"
              id="phone"
              formControlName="phone"
              placeholder="Phone Number"
              #phone
              required
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button
  style="display: none"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalYesNo"
  id="showModalYesNo"
>
  Open modal
</button>
<app-modalyesno
  [modalTitle]="modalTitle"
  [modalBody]="modalYesNoBody"
  (modalButtonWasClicked)="modalButtonWasClicked($event)"
  id="modalyesno"
></app-modalyesno>

<button
  style="display: none"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalMessage"
  id="showModalMessage"
>
  Open modal
</button>

<app-modalmessage
  [modalTitle]="modalTitle"
  [modalBody]="modalMessageBody"
></app-modalmessage>
