<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <!-- *ngIf="loggedIn" -->
    <div class="hamburger-menu" *ngIf="loggedIn">
      <input id="menu__toggle" type="checkbox" (click)="checkboxClicked()" [checked]="checkboxMenu" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <!-- Categories -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/categories/category-list" outerLinkActive="active"
            (click)="checkboxClicked()">Categories</a>
        </li>
        <!-- Customers -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/customers/customer-list" outerLinkActive="active"
            (click)="checkboxClicked()">Customers</a>
        </li>
        <!-- Employees -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/employees/employee-list" outerLinkActive="active"
            (click)="checkboxClicked()">Employees</a>
        </li>
        <!-- Orders -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/orders/order-list" outerLinkActive="active"
            (click)="checkboxClicked()">Orders</a>
        </li>
        <!-- Products -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/products/product-list" outerLinkActive="active"
            (click)="checkboxClicked()">Products</a>
        </li>
        <!-- Regions -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/regions/region-list" outerLinkActive="active"
            (click)="checkboxClicked()">Regions</a>
        </li>
        <!-- Shippers -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/shippers/shipper-list" outerLinkActive="active"
            (click)="checkboxClicked()">Shippers</a>
        </li>
        <!-- Suppliers -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/suppliers/supplier-list" outerLinkActive="active"
            (click)="checkboxClicked()">Suppliers</a>
        </li>
        <!-- Territories -->
        <li class="nav-item">
          <a class="nav-link menu__item" routerLink="/territories/territory-list" outerLinkActive="active"
            (click)="checkboxClicked()">Territories</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item col-4">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/Logo.png" alt="" class="logo" />
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" (click)="displayModalSignupLogin(0)"><span class="fas fa-user"></span> Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" (click)="displayModalSignupLogin(1)"><span class="fas fa-sign-in-alt"></span> Sign In</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" (click)="signOut()"><span class="fas fa-sign-out-alt"></span> Sign Out</a>
      </li>
    </ul>

    <!-- <div class="dropdown" *ngIf="loggedIn" dropdown>
      <a
        class="dropdown-toggle text-success text-decoration-none"
        dropdownToggle
        >Welcome {{ user.userName }}</a
      >
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      *ngIf="!loggedIn"
      id="loginForm"
      [formGroup]="loginForm"
      class="d-flex p-3"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        type="text"
        class="form-control me-2"
        formControlName="username"
        placeholder="Username"
      />
      <input
        type="password"
        class="form-control me-2"
        formControlName="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form> -->
  </div>
</nav>
