<form [formGroup]="photoForm" (ngSubmit)="submit()">
  <!-- Image Preview -->
  <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
    <label>Picture</label>
    <img class="form-control col-6" [src]="imageURL" [alt]="photoForm.value.name" />
  </div>
  <!-- Assign Image Alt -->
  <!-- <input formControlName="name" placeholder="Enter name" />
  <button type="submit">Submit</button> -->
  <!-- Select File -->
  <input id="inputPhoto" type="file" accept="image/*" (change)="showPreview($event)" formControlName="inputPhoto"
    style="border:black" />
</form>