<div class="container mt-3">
  <div class="page-title mb-2">
    <div class="col-11">
      <h4 class="area-title">Suppliers</h4>
    </div>
    <app-toolbarlist
      (toolbarButtonWasClicked)="buttonWasClicked($event)"
    ></app-toolbarlist>
  </div>
  <table class="table">
    <thead>
      <tr class="table-success">
        <th scope="col">Supplier Id</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Contact Title</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Region Id</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Country</th>
        <th scope="col">Phone</th>
        <th scope="col">Fax</th>
        <!-- <th scope="col">HomePage</th> -->
        <th scope="col"><i class="fa-solid fa-gear"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <th scope="row">{{ supplier.supplierId }}</th>
        <td>{{ supplier.companyName }}</td>
        <td>{{ supplier.contactName }}</td>
        <td>{{ supplier.contactTitle }}</td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.city }}</td>
        <td>{{ supplier.regionId }}</td>
        <td>{{ supplier.postalCode }}</td>
        <td>{{ supplier.country }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.fax }}</td>
        <!-- <td>{{ supplier.homePage }}</td> -->
        <td>
          <a routerLink="/suppliers/supplier-edit/{{ supplier.supplierId }}">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      Total Records:
      {{
        suppliers.length
      }}
    </tfoot>
  </table>
</div>
